<form method="post" action="/cart/add" id="price-form" style="width: max-content; display: flex; flex-direction: column; align-items: center; justify-content: center; margin: 0 auto;">
  <!-- Hidden input for product variant ID -->
  <input type="hidden" name="id" value="{{ product.variants.first.id }}" />

  <!-- Custom price input -->
   <label for="custom" class="quantity__label form__label">
     Pay your Price:
   </label>
  <input 
    type="number" 
    id="price-input" 
    class="quantity"
    name="properties[custom_price]" 
    placeholder="Enter your price" 
    style="border: none; outline: none; padding: 5px; width: 150px;" 
    step="0.01" 
  />
  
  <button type="submit" class="product-form__submit button button--full-width button--secondary">Add to cart</button>
</form>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const form = document.getElementById("price-form");
    const officialPrice = document.getElementsByClassName("price-item")[0];
    const themeButtons = document.getElementsByTagName("product-form")[0];
    themeButtons.style.display = "none";
    console.log(themeButtons)

    const priceInput = document.getElementsByClassName("product-form__submit")[0];
    const maxPrice = parseFloat(({{ product.price }} / 100).toFixed(2));
    const defaultPrice = {{ product.metafields.custom.default_price }}
    officialPrice.innerHTML = `${defaultPrice} - ${maxPrice}`

    form.addEventListener("submit", (event) => {
      const inputValue = parseFloat(priceInput.value);

      if (inputValue < defaultPrice || inputValue > maxPrice) {
        event.preventDefault();
        alert(`Please enter a price between ${defaultPrice} and ${maxPrice}.`);
      }
    });
  });
</script>


{% schema %}
{
  "name": "Price Input Block",
  "target": "section",
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Product",
      "autofill": true
    }
  ]
}
{% endschema %}
